<aside class="crisis" aria-labelledby="crisis-heading">
  <h2 id="crisis-heading">{{site.crisis.heading}}</h2>
  <ul class="crisis-lines">
    <li>{{site.crisis.us_988}}</li>
    <li>{{site.crisis.us_text_line}}</li>
    <li><a href="{{site.crisis.international_url}}" rel="noopener">{{site.crisis.international}}</a></li>
  </ul>
  <p class="crisis-danger">{{site.crisis.danger}}</p>
  <p class="crisis-disclaimer">{{site.crisis.not_crisis_service}}</p>
  <p class="crisis-advice">{{site.crisis.advice}}</p>
</aside>
